<%-include("partials/header.ejs")%>
<link rel='stylesheet' href='../stylesheets/blogpage.css'>
    <title>Blogs on Lifestyle</title>
    <div class="container">
      <div class="header">
    <h1 class="info">Healthy Lifestyle</h1>
    <br>
    <h5>We give daily updates on healthy lifestyle.</h5></div>
    
    <br>
    <% if(currentUser){%>
      <div class="k">
      <a class="btn btn-primary" href="/blogs/new" role="button">New Blog</a>
      </div>
      <% } %>
      <hr>
      
      <br>
    <% const f=9; var p=Math.ceil(blogs.length/f); for(var i=0;i<p;i++){ var x; if(i==0) x='show'; else x='disable';%>
    <div class="row row-cols-1 row-cols-md-3 <%=x%> m" id="<%=i+1%>">        
            <%var t=f;if(i==p-1&&blogs.length%f)t=blogs.length%f; var g=i*f; for(var j=g;j<g+t;j++){ const blog=blogs[j];%>
        <div class="col mb-4">            
            <div class="card h-100 border-info">
              <h5 class="card-header"><%=blog.title%></h5>
              <div class="card-body">
                <p class="card-text"><%-blog.body.substring(0,100)%>...</p>
            </div>                
            <a href="/blogs/<%=blog._id%>" class="btn btn-info">Read more</a>              
            </div>            
          </div>
          <%}%>        
    </div>
    <%}%>
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item active"><a class="page-link bt" href="#1">1</a></li>
          <% p=Math.ceil(blogs.length/f); for(var i=1;i<p;i++){ %>
          <li class="page-item"><a class="page-link bt" href="#<%=i+1%>"><%=i+1%></a></li>
          <%}%>
          
        </ul>
      </nav>
    </div>
    
<script src='/blogpage.js'></script>
<%-include("partials/footer.ejs")%>