<%- include("partials/header.ejs")%>
<link rel="stylesheet" href="../stylesheets/def.css">
<title>Photo Gallery</title>
<div class="container">
<h1>Photo Gallery</h1>
<br>
<% if(currentUser){%>
  <div class="k">
  <a class="btn btn-primary" href="/photogallery/new" role="button">New Photo</a>
  </div>
  <% } %>
  <hr>
  <br>
<div class="container">
  <% const f=9; var p=Math.ceil(photos.length/f); for(var i=0;i<p;i++){ var x; if(i==0) x='show'; else x='disable';%>
    <div class="row row-cols-1 row-cols-md-3 <%=x%> h" id="<%=i+1%>">
      <%var t=f;if(i==p-1&&photos.length%f)t=photos.length%f; var g=i*f; for(var j=g;j<g+t;j++){ const photo=photos[j];%>
        <div class="col mb-4">
          <div class="card h-100 " style="width:18rem;">
            <img src="<%=photo.path%>" class="card-img-top" alt="Loading...">
            <div class="card-body">
              <p class="card-text"><%=photo.caption%></p>
            </div>
          </div>
        </div>
    <%}%>
        
</div>
<%}%>

<nav aria-label="Page navigation example">
  <ul class="pagination">
      <li class="page-item active"><a class="page-link bt" href="#1">1</a></li>
    <% p=Math.ceil(photos.length/f); for(var i=1;i<p;i++){ %>
    <li class="page-item"><a class="page-link bt" href="#<%=i+1%>"><%=i+1%></a></li>
    <%}%>
    
  </ul>
</nav>
</div>

<script src='/blogpage.js'></script>
<%- include("partials/footer.ejs")%>