<%-include("partials/header.ejs")%>
<link rel="stylesheet" href="/stylesheets/pub2.css">
<title><%=pub.title%></title>

<h1><%=pub.title%></h1>

<br>
<img src="<%=pub.pic%>" width='80%'>
<br>
<br>
<div class="container m">
<a href="<%=pub.path%>" role="button" class="btn btn-primary btn-lg">Open</a>
</div>

<%-include("partials/footer.ejs")%>