<%- include("partials/header.ejs")%>
<link rel="stylesheet" href="../stylesheets/pub.css">
<title>ARJAMA</title>

<div class="container">  
  <br>
    <div class="k d-flex">
    <div class="card mb-3 my">
        <div class="row no-gutters">
          <div class="col-md-4">
            <img src="/pics/arjama/info.jpg" class="card-img" alt="..." width=200>
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title t">ARJAMA</h5>
              <p class="card-text">Magazine publications of BEST Organization</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr>
    <% if(pubs.length===0){%>
      <div class="alert alert-danger u" role="alert">
        The upcoming publication of ARJAMA will be published in the festive season. Stay tuned!
      </div>
      <% if(currentUser){%>
        <div class="u">
        <a class="btn btn-danger" href="/publications/new" role="button">New Publication</a>
        </div>
        <% } %>
        <br>
    <% }else{const f=9; var p=Math.ceil(pubs.length/f); for(var i=0;i<p;i++){ var x; if(i==0) x='show'; else x='disable';%>
    <div class="row row-cols-1 row-cols-md-3 <%=x%> m" id="<%=i+1%>">
      <%var t=f;if(i==p-1&&pubs.length%f)t=pubs.length%f; var g=i*f; for(var j=g;j<g+t;j++){ const pub=pubs[j];%>      
      <div class="col mb-4">
        <a href="/publications/<%=pub._id%>" class="alert-link">
        <div class="alert alert-primary my2" role="alert">
          <%=pub.title%>
        </div></a>        
      </div>
  <%}%>
      
</div>
<%}%>
<nav aria-label="Page navigation example">
  <ul class="pagination">
      <li class="page-item active"><a class="page-link bt" href="#1">1</a></li>
    <% p=Math.ceil(pubs.length/f); for(var i=1;i<p;i++){ %>
    <li class="page-item"><a class="page-link bt" href="#<%=i+1%>"><%=i+1%></a></li>
    <%}%>
    
  </ul>
</nav>
<%}%>
</div>

<script src='/blogpage.js'></script>
<%- include("partials/footer.ejs")%>